@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Satoshi', sans-serif;
    background-color: white;
}

.grad-orange {
    background: linear-gradient(135deg, #EEA849 0%, #F46B45 100%);
}

.border-top-grey {
    border-top: 1px solid rgba(209, 208, 211, 0.4);
}

.border-right-grey {
    border-right: 1px solid rgba(209, 208, 211, 0.4);
}

.border-bottom-grey {
    border-bottom: 1px solid rgba(209, 208, 211, 0.4);
}

.bg-blurry {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.shadow {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
}

.active {
    color: #5D5FEF;
    font-weight: 700;
}